.header{
	nav{
		padding: 46px 24px;
	}


	&__logo{

		img {
		width:  9.1875rem;
		height: 1.75rem;
		}

	}
	&__menu{ //mobile menu
	
	
		span{
			display: block;
			width: 25px;
			height: 2px;
			background-color: $primaryDarkBlue;

			&:not(:last-child){
                margin-bottom: 3px;
            }
        }
	}

	&__links{

		a{
			font-size: $font-sm;
			color: $primaryDarkBlue;
			transition: color 300ms ease-in-out;

			&:not(:last-child){
				margin-right: 2rem;
			}

			&:hover{
				color: $darkGrayishBlue;
			}
		}
		
	
		

	}

	&__cta{
		font-size: 11px;
		 color: $veryLightGray;
		 
		 &:hover {
		background: #F98F75
		}

	}
	
	
}
