.header{


	&__logo{

		img {
		
		}

	}
	&__menu{ //mobile menu
	
	
		span{
			display: block;
			width: 26px;
			height: 4px;
			background-color: black;

			&:not(:last-child){
                margin-bottom: 3px;
            }
        }
    }
}